


.App {
  text-align: center;
  min-height: 100vh;
}

.container {
  
  background-color: rgb(212, 212, 212);
  min-height: 100vh;

}

.main-card {
  margin: 20px auto;
  padding: 0px;
  background-color: white;
  width: 400px;
  box-shadow: 2px 10px 15px grey;
}

.task-form {
  height: 4rem;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
}

.task-input {
  width: auto;
  border: none;
  font-size: 25px;
}

.task-input:hover, .task-input:active, .task-input:focus {
  border: none;
}


.task {
  border-top: 1px solid black;
  height: 5rem;
  font-size: 25px;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
}

.task-left {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 4rem;
  font-size: 17px;
  color: grey;
  padding: 1rem 1rem 1rem 1rem;
  text-align: left;
}

button {
  position: relative;
  float: right;
  margin-left: 40px;
}

